<div class="container">
	<div class="row">
		<div class=" col-md-4 col-md-offset-4">
			<h1> Log In </h1>
		</div>
	</div>
	<div class = "row">
		<div class="well col-md-4 col-md-offset-4">
		


			<div class="form-group">
				<%= form_tag '/login' do %>

				<%= label_tag :email %>
				<%= text_field_tag :email %><br>

				<%= label_tag :password %>
				<%= password_field_tag :password %><br>

				<%= submit_tag 'Login', class: 'btn btn-success' %>

				<% end %>


			</div>
		</div>
	</div>
</div> 	
